.modal {
    outline: none;
    animation-delay: 40ms;
    animation-duration: .1s;

    .modal-background {
        background-color: rgba(100, 100, 100, .2);
    }

    .modal-content {
        max-width: 400px;
        animation-delay: 40ms;
        animation-duration: .2s;

        .box {
            border-radius: 2px;
        }
    }
}

