@import '../../variables.pcss';

.snap-scroll {
    --slides: 1;
    overflow: hidden;
    transform: translateZ(0);

    > ul {
        display: flex;
        width: calc(100% * var(--slides));

        > li {
            width: 100%;
        }
    }

    &.animate ul {
        transition: all .3s ease-out;
    }
}
