@parcel-import '../../variables.pcss';

.snap-scroll {
    --slides: 1;
    overflow: hidden;

    > ul {
        display: flex;
        width: calc(100% * var(--slides));
        backface-visibility: hidden;
        will-change: transition;

        > li {
            width: 100%;
        }
    }

    &.animate ul {
        transition: all .3s ease-out;
    }
}
