@keyframes highlight-fade-out {
    from {
        background-color: #fff06e;
    }
    to {
        background-color: initial;
    }
}

@keyframes wait-for {
    from {
        opacity: .99;
    }
    to {
        opacity: 1;
    }
}
