@keyframes highlight-fade-out {
    from {
        background-color: #fff06e;
    }
    to {
        background-color: initial;
    }
}

@keyframes wait-for {
    from {
        opacity: .99;
    }
    to {
        opacity: 1;
    }
}

@keyframes progress-animation {
    0% {
        width: 0;
    }

    49% {
        width: 100%;
        left: 0;
    }

    50% {
        left: 100%;
        width: 0;
    }

    100% {
        left: 0;
        width: 100%
    }
}
