:root {
    --hairline: .5px solid #b3b3b3;
    --border: 1px solid #dbdbdb;
    --default-font: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
