@import '../../variables.pcss';
@parcel-import '../../mixins.pcss';
@parcel-import '../../animations.pcss';

.control.dropdown {

    .dropdown-item {
        display: flex;
        align-items: center;
        flex-direction: row;

        .icon {
            margin-right: 5px;
        }
    }
}
