.date-picker {
    max-width: 95px;

    .icon i {
        pointer-events: all;
        cursor: pointer;

        &:hover {
            color: gray;
        }
    }

    .dropdown-content {
        max-width: 210px;
    }
}
