.month {

    .days,
    .weekdays {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        align-items: center;
        justify-items: center;
    }

    .weekdays {
        grid-template-rows: 30px
    }

    .days {
        height: 180px;
        grid-template-rows: auto auto auto auto auto auto;
    }
}
