.horizontal-split {
    display: flex;
    align-items: stretch;

    > :first-child {
        flex: none;
        width: 25%;
        overflow: hidden;
    }

    > :last-child {
        flex: auto;
    }

    .handle {
        flex: none;
        width: 5px;
        border-left: var(--hairline);
        border-right: var(--hairline);
        cursor: ew-resize;
        background-color: white;
        user-select: none;
        touch-action: none;
    }
}
