.horizontal-split {
    background-color: lightsteelblue;
    display: flex;
    align-items: stretch;

    > :first-child {
        flex: none;
        width: 25%;
    }

    > :last-child {
        flex: auto;
    }

    .handle {
        flex: none;
        width: 10px;
    }
}
