@import '../../variables.pcss';
@parcel-import '../../mixins.pcss';
@parcel-import '../../animations.pcss';

.auto-suggest {

    .loading {
        font-size: .75em;
        padding: 10px;
    }

    .dropdown-menu {
        outline: none;

        .dropdown-content > ul {
            > li {
                padding: 5px 10px;
                font-size: .75em;
                cursor: pointer;
            }
        }
    }
}
