@import '../../variables.pcss';
@parcel-import '../../animations.pcss';

.progress-runner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-notification);
    cursor: progress;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        animation: progress-animation 3s linear infinite .3s;
        background-color: var(--light-blue);
    }
}
