.grid {
    display: grid;
    font-size: .85em;

    [role='cell'] {
        padding: 1px 2px;
        border-right: var(--hairline);
        border-bottom: var(--hairline);
    }

    &.editable [role='cell'] {
        cursor: pointer;
    }

    [role='header'] {
        position: sticky;
        top: 0;
        background-color: whitesmoke;
        padding: 2px;
    }
}
