.radio-group {
    display: inline-flex;
    align-items: center;

    > .radio-input {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    &.vertical {
        flex-direction: column;

        > .radio-input {
            margin-left: 0;
        }
    }
}
