@import '../../variables.pcss';

.control.password-input {

    .icon.is-right {
        width: 1.5em;
        pointer-events: all;
        cursor: pointer;
        color: gray;
        top: 3px;
        bottom: 2px;
        right: 2px;
        height: auto;

        &:hover {
            color: black;
            background-color: whitesmoke;
        }
    }
}
